.ReactModal__Overlay {
    position: absolute !important;
    top: 12% !important;
    right: 31vw !important;
    bottom: 0px !important;
    background: transparent !important;
}

@media (max-width: 540px) and (min-width: 200px) {
    .ReactModal__Overlay {
        position: absolute !important;
        top: 12% !important;
        right: 5% !important;
        bottom: 0px !important;
        background: transparent !important;
        z-index: 9;
    }
}

.user-modal {
    width: 290px;
    float: right;
    background: #fff;
    box-shadow: 0 0 20px #111;
    -moz-box-shadow: 0 0 20px #111;
    -webkit-box-shadow: 0 0 20px #111;
    /*padding: 1rem;*/
    /*height: 454px;*/
    padding: 33px 26px;
}

.form_reg {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.form_reg form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form_reg div {
    width: 100%;
}

.form_reg p span:hover {
    cursor: pointer;
}

.form_log form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}

.form_log {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    position: relative;
}

.form_log div {
    width: 100%;
}

.form_log p span:hover {
    cursor: pointer;
}

form input.input_ath {
    background-color: #f7f7f7 !important;
    border: 0 !important;
    padding: 4px 5px 4px 10px !important;
    border-radius: 50px !important;
    width: 100% !important;
    color: #000 !important;
}

form .closed_ath {
    border: 1px solid #00000038;
    border-radius: 50%;
    position: absolute;
    right: -19px;
    background-color: #f7f7f7;
    color: #000;
    width: 22px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1px;
    font-size: 13px;
    top: -26px;
}

form .login_btn {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: #ff4242;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    width: 100%;

}

.login_reg_block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.login_reg {
    border-bottom: 2px solid #bcbcbc;
    line-height: 16px;
}

#carousel-example-generic {
    margin: 20px auto;
    width: 400px;
}

#carousel-custom {
    margin: 20px auto;
    width: 400px;
}

#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: hidden;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}

#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}

#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}

#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}

#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}