@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-Thin.eot');
    src: local('Geometria Thin'), local('Geometria-Thin'), url('./assets/fonts/Geometria-Thin.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Geometria-Thin.woff') format('woff'), url('./assets/fonts/Geometria-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-MediumItalic.eot');
    src: local('Geometria MediumItalic'), local('Geometria-MediumItalic'), url('./assets/fonts/Geometria-MediumItalic.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Geometria-MediumItalic.woff') format('woff'), url('./assets/fonts/Geometria-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-Italic.eot');
    src: local('Geometria Italic'), local('Geometria-Italic'), url('./assets/fonts/Geometria-Italic.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Geometria-Italic.woff') format('woff'), url('./assets/fonts/Geometria-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-Heavy.eot');
    src: local('Geometria Heavy'), local('Geometria-Heavy'), url('./assets/fonts/Geometria-Heavy.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Geometria-Heavy.woff') format('woff'), url('./assets/fonts/Geometria-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-ExtraBoldItalic.eot');
    src: local('Geometria ExtraBoldItalic'), local('Geometria-ExtraBoldItalic'), url('./assets/fonts/Geometria-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Geometria-ExtraBoldItalic.woff') format('woff'), url('./assets/fonts/Geometria-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-Medium.eot');
    src: local('Geometria Medium'), local('Geometria-Medium'), url('./assets/fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Geometria-Medium.woff') format('woff'), url('./assets/fonts/Geometria-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-BoldItalic.eot');
    src: local('Geometria BoldItalic'), local('Geometria-BoldItalic'), url('./assets/fonts/Geometria-BoldItalic.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Geometria-BoldItalic.woff') format('woff'), url('./assets/fonts/Geometria-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-LightItalic.eot');
    src: local('Geometria LightItalic'), local('Geometria-LightItalic'), url('./assets/fonts/Geometria-LightItalic.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Geometria-LightItalic.woff') format('woff'), url('./assets/fonts/Geometria-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-HeavyItalic.eot');
    src: local('Geometria HeavyItalic'), local('Geometria-HeavyItalic'), url('./assets/fonts/Geometria-HeavyItalic.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Geometria-HeavyItalic.woff') format('woff'), url('./assets/fonts/Geometria-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria.eot');
    src: local('Geometria'), url('./assets/fonts/Geometria.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Geometria.woff') format('woff'), url('./assets/fonts/Geometria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-Bold.eot');
    src: local('Geometria Bold'), local('Geometria-Bold'), url('./assets/fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Geometria-Bold.woff') format('woff'), url('./assets/fonts/Geometria-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-ExtraBold.eot');
    src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'), url('./assets/fonts/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Geometria-ExtraBold.woff') format('woff'), url('./assets/fonts/Geometria-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-ThinItalic.eot');
    src: local('Geometria ThinItalic'), local('Geometria-ThinItalic'), url('./assets/fonts/Geometria-ThinItalic.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Geometria-ThinItalic.woff') format('woff'), url('./assets/fonts/Geometria-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-ExtraLightItalic.eot');
    src: local('Geometria ExtraLightItalic'), local('Geometria-ExtraLightItalic'), url('./assets/fonts/Geometria-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Geometria-ExtraLightItalic.woff') format('woff'), url('./assets/fonts/Geometria-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-Light.eot');
    src: local('Geometria Light'), local('Geometria-Light'), url('./assets/fonts/Geometria-Light.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Geometria-Light.woff') format('woff'), url('./assets/fonts/Geometria-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-ExtraLight.eot');
    src: local('Geometria ExtraLight'), local('Geometria-ExtraLight'), url('./assets/fonts/Geometria-ExtraLight.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/Geometria-ExtraLight.woff') format('woff'), url('./assets/fonts/Geometria-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
    font-family: 'Geometria';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/***HEADER***/

.top {
    background: #e8e8e8;
    height: 50px;
    display: flex;
    align-items: center;
}

.scroll-to-top {
    position: fixed;
    right: 10px;
    bottom: 20%;
    background-color: #ff4242;
    color: #fff;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    display: flex;
}

header {
    /*margin: 0px 0px 20px 0px;*/
    padding: 15px 0;
    /* background-color: #f7f7f7; */
    overflow: hidden;
    border-bottom: 1px solid #efefe7;
}

@media (max-width: 767px) and (min-width: 200px) {
    header {
        padding: 15px 0;
    }
}

header .navigation {
    padding: 0;
}

header .navigation .logo {
    padding: 0;
}

header .navigation .logo a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header .navigation .logo a svg {
    width: 75px;
}

header .navigation .menu-header {
    padding: 0;
}

header .navigation .menu-header .navbar {
    width: 100%;
    display: flex;
}

@media (max-width: 767px) and (min-width: 200px) {
    header .navigation .menu-header .navbar {
        padding: 0;
    }
}

header .navigation .menu-header .navbar .collapse {

    width: 100%;
}

header .navigation .menu-header .navbar .collapse ul {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header .navigation .menu-header .navbar .collapse ul li {}

header .navigation .menu-header .navbar .collapse ul li a {
    color: #000;
}

header .navigation .search {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) and (min-width: 200px) {
    header .navigation .search .searchbar {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        left: auto;
        top: auto;
    }
}

header .navigation .search .searchbar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

header .navigation .search .searchbar input {
    background-color: #f7f7f7;
    border: 0;
    padding: 4px 5px 4px 10px;
    border-radius: 50px !important;
    width: 100%;
    color: #000;
}

header .navigation .search .searchbar a {
    padding: 0;
    text-decoration: none;
    position: absolute;
    right: 8px;
    align-items: center;
    color: #000;
    font-weight: 400;
    font-size: 18px;
}

header .navigation .search .searchbar a span {
    display: flex;
    align-items: center;
}

header .navigation .lang-top-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 991px) and (min-width: 200px) {
    header .navigation .lang-top-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        justify-content: space-between;
    }
}

header .navigation .lang-top-links .lang {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
}

header .navigation .lang-top-links .lang li {
    /* border-radius: 50px; */
    /* border: 1px solid #b4b4b4; */
    text-align: center;
    margin: 0;
    width: auto;
    padding: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    color: #a3a6a9;
}

header .navigation .lang-top-links .lang li a {
    padding: 0;
}

header .navigation .lang-top-links .lang li.active {

    color: #000;
}

header .navigation .lang-top-links .top-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

header .navigation .lang-top-links .top-links li {
    padding-left: 15px;
}

header .navigation .lang-top-links .top-links li.bags {
    position: relative;
}

header .navigation .lang-top-links .top-links li.bags .count-cart {
    position: absolute;
    top: -5px;
    padding: 0 2px;
    height: 15px;
    min-width: 15px;
    text-align: center;
    line-height: 15px;
    color: #fff;
    border-radius: 50%;
    background-color: #f68872;
    display: block;
    font-weight: 600;
    font-size: 10px;
    right: -8px;
}

header .navigation .lang-top-links .top-links li.heart {
    position: relative;
}

header .navigation .lang-top-links .top-links li.heart .count-heart {
    position: absolute;
    top: -5px;
    padding: 0 2px;
    height: 15px;
    min-width: 15px;
    text-align: center;
    line-height: 15px;
    color: #fff;
    border-radius: 50%;
    background-color: #f68872;
    display: block;
    font-weight: 600;
    font-size: 10px;
    right: -8px;
}

header .navigation .lang-top-links .top-links li.user {}

header .navigation .lang-top-links .top-links li.user span {}

header .navigation .lang-top-links .top-links li.user .block-user {}

header .navigation .lang-top-links .top-links li.user .block-user span {}

header .navigation .lang-top-links .top-links li.user .block-user .dropdown {}

header .navigation .lang-top-links .top-links li.user .block-user .dropdown button {}

header .navigation .lang-top-links nav {}

header .navigation .lang-top-links nav button {}

.LoginButton {
    font-family: Geometria;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border-radius: 25px;
    background-color: #ff4242;
    padding: 10px 30px;
    border: none;
}



@media (max-width:768px) {
    .icon {
        position: absolute;
        top: 10px;
    }

    .searchbar {
        position: absolute;
        top: 58px;
        left: -225px;
        z-index: 3;
    }
}



/******SLIDE*********/
.slide_content {
    background-color: #f7f7f7;
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
}

.slide_content .row-block {
    margin-right: -15px;
    margin-left: -15px;
}

.slide_content .slick-slider {}

.slide_content .slick-slider .slick-prev {
    left: 0;
    z-index: 99;
    display: none !important;
}

.slide_content .slick-slider .slick-prev::before {}

.slide_content .slick-slider .slick-next {
    right: 0;
    z-index: 99;
    display: none !important;
}

.slide_content .slick-slider .slick-next::before {}

.slide_content .slick-slider .slick-list {}

.slide_content .slick-slider .slick-dots {}

.slide_content .slick-slider .slick-slide {}



.slide_content .slick-slider .slick-slide .single-slide {
    width: 100%;
    display: flex !important;
    position: relative;
}

.slide_content .slick-slider .slick-slide .single-slide .slider-sigle {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.slide_content .slick-slider .slick-slide:nth-child(even) .single-slide .slider-sigle.slider-right {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.slide_content .slick-slider .slick-slide:nth-child(even) .single-slide .slider-sigle.slider-left {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.slide_content .slick-slider .slick-slide .single-slide .slider-sigle.slider-right {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.slide_content .slick-slider .slick-slide .single-slide .slider-sigle.slider-left {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.slide_content .slick-slider .slick-slide .single-slide .slider-sigle img {
    width: 100%;
}


.slide_content .slick-slider .slick-slide .single-slide .slider-sigle .slider-content__inner {
    position: absolute;
    /*top: 39%;*/
    text-align: center;
    width: 70%;
    /*right: 7%;*/
}

.slide_content .slick-slider .slick-slide .single-slide .slider-sigle .slider-content__inner h1 {
    font-size: 29px;
}

.slide_content .slick-slider .slick-slide .single-slide .slider-sigle .slider-content__inner a {
    color: #fff;
    background-color: #000000;
    font-weight: 700;
    padding: 10px 20px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

@media (max-width: 767px) and (min-width: 200px) {
    .slide_content .slick-slider .slick-slide .single-slide .slider-sigle {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .slide_content .slick-slider .slick-slide:nth-child(even) .single-slide .slider-sigle.slider-right {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }

    .slide_content .slick-slider .slick-slide:nth-child(even) .single-slide .slider-sigle.slider-left {
        order: 1;
        position: absolute;
        top: 7%;
        right: 0px;
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 80%;
        max-width: 80%;
        justify-content: center;
    }

    .slide_content .slick-slider .slick-slide .single-slide .slider-sigle.slider-right {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }

    .slide_content .slick-slider .slick-slide .single-slide .slider-sigle.slider-left {
        order: 1;
        position: absolute;
        top: 7%;
        right: 0px;
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 80%;
        max-width: 80%;
        justify-content: center;
    }

    .slide_content .slick-slider .slick-slide .single-slide .slider-sigle img {
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }


    .slide_content .slick-slider .slick-slide .single-slide .slider-sigle .slider-content__inner {
        position: relative;
        text-align: center;
        width: 100%
    }

    .slide_content .slick-slider .slick-slide .single-slide .slider-sigle .slider-content__inner h1 {
        font-size: 20px;
    }



}

/******SLIDE*********/



/***Front***/

.category {
    overflow: hidden;
}

.category .front_block {
    background: #000;
    border: .25rem solid #fff;
    padding: 0;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    display: flex;
}

.category .front_block a {
    transition: 1s;
}

.category .front_block img {}

.category .front_block a:hover,
.category .front_block img:hover {
    opacity: .6;
}

.category .front_block .category_name {
    font-family: Geometria;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    bottom: 154px;
}

.category .front_block .category_name a {
    color: #ffffff;
    opacity: 1;
}

.category .front_block .category_name a:hover {
    text-decoration: none;
}

.category .front_block .catygory_link {
    position: absolute;
    font-size: 20px;
    bottom: 88px;
    color: #ffffff;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 8px 20px;
}

.category .front_block .catygory_link a {
    color: #ffffff;
    opacity: 1;
}

.news-products {
    overflow: hidden;
}

.news-products .links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 49px 0px 30px 0;
}

.news-products .links h2 {
    text-align: center;
    margin: 0;
    font-size: 20px;
}

.news-products .links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.news-products .links ul li {
    font-size: 16px;
    font-weight: 400;
    padding: 1rem 2rem;
}

@media (max-width: 991px) and (min-width: 200px) {
    .news-products .links ul li {
        padding: 1rem;
    }
}


.news-products .links ul li.active {
    text-decoration: underline;
}

.news-products .links ul li a {}

.news-products .products .row-block {
    margin-right: -15px;
    margin-left: -15px;
}

.news-products .products {}

.news-products .products .product-layout {
    margin-bottom: 40px;
}

.news-products .products .product-thumb {
    padding: 3px;
}

.news-products .products .product-thumb .image {
    position: relative;
}

.news-products .products .product-thumb .image .new {
    position: absolute;
    left: 9px;
    top: 2px;
    z-index: 999;
}

.news-products .products .product-thumb .image .color_arr {
    position: absolute;
    bottom: 4px;
    display: flex;
    flex-direction: row;
    right: 4px;
    z-index: 999;
}

.news-products .products .product-thumb .image .color_arr .color {
    width: 16px;
    height: 16px;
    background-color: #000;
    border-radius: 50%;
    margin: 4px;
}

.news-products .products .product-thumb .image .color_arr .color:hover {}

.news-products .products .product-thumb .image .wishlist {
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 999;
}

.news-products .products .product-thumb .image .wishlist span {}

.news-products .products .product-thumb .image a {
    display: flex;
    width: 100%;
    height: 260px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.news-products .products .product-thumb .image a img {
    transition: all 0.5s ease-out;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    display: flex;
    position: absolute;
}

@media (max-width: 767px) and (min-width: 200px) {
    .news-products .products .product-thumb .image a {
        display: flex;
        width: 100%;
        height: 100vw;
        position: relative;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .news-products .products .product-thumb .image a img {
        width: auto;
        height: 100%;
    }
}

.news-products .products .product-thumb .image a .one {
    opacity: 0;
}

.news-products .products .product-thumb .image a .two {
    opacity: 1;
}

.news-products .products .product-thumb .image a:hover .one {
    opacity: 1;
}

.news-products .products .product-thumb .image a:hover .two {
    opacity: 0;
}

.news-products .products .product-thumb .caption {
    display: flex;
    flex-direction: column;
}

.news-products .products .product-thumb .caption h4 {
    margin: 0;
    line-height: normal;
    line-height: initial;
}

.news-products .products .product-thumb .caption h4 a {
    color: #000;
    font-size: 16px;
}

.news-products .products .product-thumb .caption .price {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news-products .products .product-thumb .caption .price .price-old {
    color: #a6a6a6;
}

.news-products .products .product-thumb .caption .price .price-new {
    color: #000;
}







/***FOOTER***/

footer {
    padding-top: 30px;
    padding-bottom: 20px;
    border-top: 1px solid #ebebeb;
    margin-top: 30px;
}

footer .info-block {
    font-size: 12px;
    color: #020202;
}

footer .info-block ul {}

footer .info-block ul li {
    font-family: Geometria;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #020202;
    margin-bottom: 0.75em;
}

footer .info-block ul li a {
    color: #959595;
}

footer .footer-link {}

footer .footer-link .nav {
    display: flex;
    flex-direction: column;
}

footer .footer-link .nav li {
    margin-bottom: 0.75em;
    font-family: Geometria;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

footer .footer-link .nav li a {
    font-family: Geometria;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #020202;
}


footer .social-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social-block .column-title {
    font-size: 12px;
    color: #020202;
    font-family: Geometria;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 0.75em;
}

footer .social-block ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

footer .social-block ul li {
    margin: 0px 5px;
    color: #fff;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background: #004ca1;
    text-align: center;
    padding: 10px 0px;
}

footer .social-block ul li a {
    color: #fff;
}

footer .social-block ul li a svg {
    font-size: 20px;
}

footer .social-block ul li.facebook {
    background: #3b5998;
}

footer .social-block ul li.telegram {
    background: #2da1dd;
}

footer .social-block ul li.instagram {
    background: #c760bd;
}

footer .subscribe-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .subscribe-block .column-title {
    margin-bottom: 5px;
}

footer .subscribe-block .subscribe {
    border-radius: 20px;
    background-color: #ff4242;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
}

/***FOOTER***/

/***SubCategoty***/

.sub_category {
    background-color: #fafafa;
    padding: 26px 0 60px 0;
}

.sub_category .sub_category_title {}

.sub_category .sub_category_title h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 28px;
    font-size: 23px;
}

.sub_category .sub_category_single {
    background: #000;
    /*border: .25rem solid #fff;*/
}

.sub_category .sub_category_single a {}

.sub_category .sub_category_single a img {
    transition: 0.5s;
}

.sub_category .sub_category_single a img:hover {
    opacity: .6;
}

.sub_category .sub_category_single .sub_category_single_name {
    position: absolute;
    font-family: Geometria;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    bottom: 18px;
    left: 40px;
}


/***SubCategoty***/


/**catalog**/

.catalog {
    padding: 30px 0 30px 0;
}


.catalog .filter {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.catalog .filter .price_filter {
    /* margin: 20px 0 24px 0; */
    width: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.catalog .filter .price_filter h4 {
    font-size: 17px;
    margin: 20px 0 20px 0;
    font-weight: 600;
    width: 100%;
}

.catalog .filter .price_filter .input-range__slider {
    appearance: none;
    background: #ff4242;
    border: 1px solid #ff4242;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 1rem;
    margin-left: -0.5rem;
    margin-top: -0.65rem;
    outline: none;
    position: absolute;
    top: 50%;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    width: 1rem;
}

.catalog .filter .price_filter .input-range__slider:active {
    transform: scale(1.3);
}

.catalog .filter .price_filter .input-range__slider:focus {
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}

.catalog .filter .price_filter .input-range--disabled .input-range__slider {
    background: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    transform: none;
}

.catalog .filter .price_filter .input-range__slider-container {
    transition: left 0.3s ease-out;
}

.catalog .filter .price_filter .input-range__label {
    color: #aaaaaa;
    font-family: "Helvetica Neue", san-serif;
    font-size: 0.8rem;
    transform: translateZ(0);
    white-space: nowrap;
}

.catalog .filter .price_filter .input-range__label--min,
.catalog .filter .price_filter .input-range__label--max {
    bottom: -1.4rem;
    position: absolute;
}

.catalog .filter .price_filter .input-range__label--min {
    left: 0;
}

.catalog .filter .price_filter .input-range__label--max {
    right: 0;
}

.catalog .filter .price_filter .input-range__label--value {
    position: absolute;
    top: -1.8rem;
}

.catalog .filter .price_filter .input-range__label-container {
    left: -50%;
    position: relative;
    /*display: none;*/
}

.input-range__label.input-range__label--min {
    display: none;
}

.catalog .filter .price_filter .input-range__label--max .input-range__label-container {
    display: none;
    left: 50%;
}

.catalog .filter .price_filter .input-range__track {
    background: #eeeeee;
    border-radius: 0.3rem;
    cursor: pointer;
    display: block;
    height: 0.3rem;
    position: relative;
    transition: left 0.3s ease-out, width 0.3s ease-out;
}

.catalog .filter .price_filter .input-range--disabled .input-range__track {
    background: #eeeeee;
}

.catalog .filter .price_filter .input-range__track--background {
    left: 0;
    margin-top: -0.15rem;
    position: absolute;
    right: 0;
    top: 50%;
}

.catalog .filter .price_filter .input-range__track--active {
    background: #ff4242;
}

.catalog .filter .price_filter .input-range {
    height: auto;
    position: relative;
    width: 92%;
    padding: 30px 0 0 0;
}

.catalog .filter .section_filter {
    display: flex;
    flex-direction: column;
    width: 88%;
}

.catalog .filter .section_filter h4 {
    font-size: 17px;
    margin: 10px 0 0px 0;
    font-weight: 600;
    width: 100%;
}

.catalog .filter .section_filter input {
    border: 2px solid #d9d9d9;
    border-radius: 4px !important;
}

.catalog .filter .section_filter .filter_list {}

.catalog .filter .section_filter .filter_list ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 15px;
    padding-left: 6px;
    display: flex;
    flex-direction: column;
}

.catalog .filter .section_filter .filter_list ul li {
    margin: 5px 0px 0px 0;
    line-height: initial;
}

.catalog .filter .section_filter .filter_list input[type=checkbox]+label {
    /* margin: 0.2em; */
    cursor: pointer;
    /* padding: 0.2em; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.catalog .filter .section_filter .filter_list input[type=checkbox] {
    display: none;
}

.catalog .filter .section_filter .filter_list input[type=checkbox]+label:before {
    content: "\2714";
    border: 2px solid #000;
    border-radius: 0.2em;
    display: flex;
    width: 18px;
    height: 19px;
    /* padding-left: 0.2em; */
    /* padding-bottom: 0.3em; */
    margin-right: 8px;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    justify-content: center;
    align-items: center;
}

.catalog .filter .section_filter .filter_list input[type=checkbox]+label:active:before {
    transform: scale(0);
}

.catalog .filter .section_filter .filter_list input[type=checkbox]:checked+label:before {
    background-color: #ff4242;
    border-color: #ff4242;
    color: #fff;
}

.catalog .filter .section_filter .filter_list input[type=checkbox]:disabled+label:before {
    transform: scale(1);
    border-color: #aaa;
}

.catalog .filter .section_filter .filter_list input[type=checkbox]:checked:disabled+label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}

.catalog .filter .section_filter .filter_list_row {}

.catalog .filter .section_filter .filter_list_row ul {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: row;
    display: flex;
}

.catalog .filter .section_filter .filter_list_row ul li {
    margin: 5px;
}


.catalog .filter .section_filter_reset {
    display: flex;
    width: 88%;
    justify-content: center;
}

.catalog .filter .section_filter_reset button {
    border-radius: 32px;
    border: 0;
    padding: 10px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #ff4242;
    font-weight: 600;
}

.catalog .page_title_filter {}

.catalog .page_title_filter h1 {
    font-size: 22px;
}

.catalog .page_title_filter .filter_navigation {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.catalog .page_title_filter .filter_navigation button.left {
    border: 0;
    background-color: #fafafa;
    color: #000;
    font-weight: 800;
    display: none;
}


.catalog .page_title_filter .filter_navigation button.right {
    border: 0;
    background-color: #fafafa;
    color: #000;
    font-weight: 800;
    display: none;
}

.catalog .page_title_filter .filter_navigation ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
}

.catalog .page_title_filter .filter_navigation ul li {
    background-color: #fafafa;
    padding: 6px 17px;
    border-radius: 50px;
    margin-right: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.catalog .page_title_filter .filter_navigation ul li a {
    color: #000;
    font-weight: 500;
    padding-right: 7px;
}

.catalog .page_title_filter .filter_navigation ul li span {
    color: #000;
    font-weight: 500;
}

.catalog .catalog_products {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 30px 0 30px 0;
}

.catalog .catalog_products .product-layout {
    margin-bottom: 40px;
}

.catalog .catalog_products .product-layout .product-thumb {
    padding: 3px;
    margin-right: -15px;
    margin-left: -15px;
}

.catalog .catalog_products .product-layout .product-thumb .image {
    position: relative;
}

.catalog .catalog_products .product-layout .product-thumb .image .new {
    position: absolute;
    left: 4px;
    top: 6px;
    z-index: 999;
    background-color: #fff;
    border-radius: 32px;
    padding: 2px 5px;
    font-size: 11px;
}

.catalog .catalog_products .product-layout .product-thumb .image .color_arr {
    position: absolute;
    bottom: 4px;
    display: flex;
    flex-direction: row;
    right: 4px;
    z-index: 999;
}

.catalog .catalog_products .product-layout .product-thumb .image .color_arr .color {
    width: 16px;
    height: 16px;
    background-color: #000;
    border-radius: 50%;
    margin: 4px;
}

.catalog .catalog_products .product-layout .product-thumb .image .color_arr .color:hover {}

.catalog .catalog_products .product-layout .product-thumb .image .wishlist {
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 999;
    color: #ff4242;
}

.catalog .catalog_products .product-layout .product-thumb .image .wishlist span {}

.catalog .catalog_products .product-layout .product-thumb .image a {
    display: flex;
    width: 100%;
    height: 178px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.catalog .catalog_products .product-layout .product-thumb .image a img {
    transition: all 0.5s ease-out;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    display: flex;
    position: absolute;
    min-height: 100%;
}

@media (max-width: 767px) and (min-width: 200px) {
    .catalog .catalog_products .product-layout .product-thumb .image a {
        display: flex;
        width: 100%;
        height: 100vw;
        position: relative;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .catalog .catalog_products .product-layout .product-thumb .image a img {
        width: auto;
        height: 100%;
    }
}

.catalog .catalog_products .product-layout .product-thumb .image a .one {
    opacity: 0;
}

.catalog .catalog_products .product-layout .product-thumb .image a .two {
    opacity: 1;
}

.catalog .catalog_products .product-layout .product-thumb .image a:hover .one {
    opacity: 1;
}

.catalog .catalog_products .product-layout .product-thumb .image a:hover .two {
    opacity: 0;
}

.catalog .catalog_products .product-layout .product-thumb .caption {
    display: flex;
    flex-direction: column;
}

.catalog .catalog_products .product-layout .product-thumb .caption h4 {
    margin: 0;
    line-height: normal;
    line-height: initial;
}

.catalog .catalog_products .product-layout .product-thumb .caption h4 a {
    color: #000;
    font-size: 16px;
}

.catalog .catalog_products .product-layout .product-thumb .caption .price {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.catalog .catalog_products .product-layout .product-thumb .caption .price .price-old {
    color: #a6a6a6;
}

.catalog .catalog_products .product-layout .product-thumb .caption .price .price-new {
    color: #000;
}

/**page**/


.page {
    padding: 30px 0 30px 0;
}

.page .page_title {}

.page .page_title h1 {
    font-size: 22px;
}

.page .page_content {}

.page .page_content p {
    font-size: 14px;
}

/**page**/


/**search***/
.search_page {
    padding: 30px 0 30px 0;
}

.search_page .title_search {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search_page .title_search h1 {
    font-size: 22px;
}

.search_page .search_products {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 30px 0 30px 0;
}

.search_page .search_products .product-layout {
    margin-bottom: 40px;
}

.search_page .search_products .product-layout .product-thumb {
    padding: 3px;
    margin-right: -15px;
    margin-left: -15px;
}

.search_page .search_products .product-layout .product-thumb .image {
    position: relative;
}

.search_page .search_products .product-layout .product-thumb .image .new {
    position: absolute;
    left: 4px;
    top: 6px;
    z-index: 999;
    background-color: #fff;
    border-radius: 32px;
    padding: 2px 5px;
    font-size: 11px;
}

.search_page .search_products .product-layout .product-thumb .image .color_arr {
    position: absolute;
    bottom: 4px;
    display: flex;
    flex-direction: row;
    right: 4px;
    z-index: 999;
}

.search_page .search_products .product-layout .product-thumb .image .color_arr .color {
    width: 16px;
    height: 16px;
    background-color: #000;
    border-radius: 50%;
    margin: 4px;
}

.search_page .search_products .product-layout .product-thumb .image .color_arr .color:hover {}

.search_page .search_products .product-layout .product-thumb .image .wishlist {
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 999;
    color: #ff4242;
}

.search_page .search_products .product-layout .product-thumb .image .wishlist span {}

.search_page .search_products .product-layout .product-thumb .image a {
    display: flex;
    width: 100%;
    height: 265px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.search_page .search_products .product-layout .product-thumb .image a img {
    transition: all 0.5s ease-out;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    display: flex;
    position: absolute;
    min-height: 100%;
}

@media (max-width: 767px) and (min-width: 200px) {
    .search_page .search_products .product-layout .product-thumb .image a {
        display: flex;
        width: 100%;
        height: 100vw;
        position: relative;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .search_page .search_products .product-layout .product-thumb .image a img {
        width: auto;
        height: 100%;
    }
}

.search_page .search_products .product-layout .product-thumb .image a .one {
    opacity: 0;
}

.search_page .search_products .product-layout .product-thumb .image a .two {
    opacity: 1;
}

.search_page .search_products .product-layout .product-thumb .image a:hover .one {
    opacity: 1;
}

.search_page .search_products .product-layout .product-thumb .image a:hover .two {
    opacity: 0;
}

.search_page .search_products .product-layout .product-thumb .caption {
    display: flex;
    flex-direction: column;
}

.search_page .search_products .product-layout .product-thumb .caption h4 {
    margin: 0;
    line-height: normal;
    line-height: initial;
}

.search_page .search_products .product-layout .product-thumb .caption h4 a {
    color: #000;
    font-size: 16px;
}

.search_page .search_products .product-layout .product-thumb .caption .price {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.search_page .search_products .product-layout .product-thumb .caption .price .price-old {
    color: #a6a6a6;
}

.search_page .search_products .product-layout .product-thumb .caption .price .price-new {
    color: #000;
}

/**search***/


/**favorite***/
.favorite_page {
    padding: 30px 0 30px 0;
}

.favorite_page .title_favorite {
    width: 100%;
    display: flex;
    justify-content: center;
}

.favorite_page .title_favorite h1 {
    font-size: 22px;
}

.favorite_page .favorite_products {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 30px 0 30px 0;
}

.favorite_page .favorite_products .product-layout {
    margin-bottom: 40px;
}

.favorite_page .favorite_products .product-layout .product-thumb {
    padding: 3px;
    margin-right: -15px;
    margin-left: -15px;
}

.favorite_page .favorite_products .product-layout .product-thumb .image {
    position: relative;
}

.favorite_page .favorite_products .product-layout .product-thumb .image .new {
    position: absolute;
    left: 4px;
    top: 6px;
    z-index: 999;
    background-color: #fff;
    border-radius: 32px;
    padding: 2px 5px;
    font-size: 11px;
}

.favorite_page .favorite_products .product-layout .product-thumb .image .color_arr {
    position: absolute;
    bottom: 4px;
    display: flex;
    flex-direction: row;
    right: 4px;
    z-index: 999;
}

.favorite_page .favorite_products .product-layout .product-thumb .image .color_arr .color {
    width: 16px;
    height: 16px;
    background-color: #000;
    border-radius: 50%;
    margin: 4px;
}

.favorite_page .favorite_products .product-layout .product-thumb .image .color_arr .color:hover {}

.favorite_page .favorite_products .product-layout .product-thumb .image .wishlist {
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 999;
    color: #ff4242;
}

.favorite_page .favorite_products .product-layout .product-thumb .image .wishlist span {}

.favorite_page .favorite_products .product-layout .product-thumb .image a {
    display: flex;
    width: 100%;
    height: 265px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.favorite_page .favorite_products .product-layout .product-thumb .image a img {
    transition: all 0.5s ease-out;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    display: flex;
    position: absolute;
    min-height: 100%;
}

@media (max-width: 767px) and (min-width: 200px) {
    .favorite_page .favorite_products .product-layout .product-thumb .image a {
        display: flex;
        width: 100%;
        height: 100vw;
        position: relative;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .favorite_page .favorite_products .product-layout .product-thumb .image a img {
        width: auto;
        height: 100%;
    }
}

.favorite_page .favorite_products .product-layout .product-thumb .image a .one {
    opacity: 0;
}

.favorite_page .favorite_products .product-layout .product-thumb .image a .two {
    opacity: 1;
}

.favorite_page .favorite_products .product-layout .product-thumb .image a:hover .one {
    opacity: 1;
}

.favorite_page .favorite_products .product-layout .product-thumb .image a:hover .two {
    opacity: 0;
}

.favorite_page .favorite_products .product-layout .product-thumb .caption {
    display: flex;
    flex-direction: column;
}

.favorite_page .favorite_products .product-layout .product-thumb .caption h4 {
    margin: 0;
    line-height: normal;
    line-height: initial;
}

.favorite_page .favorite_products .product-layout .product-thumb .caption h4 a {
    color: #000;
    font-size: 16px;
}

.favorite_page .favorite_products .product-layout .product-thumb .caption .price {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.favorite_page .favorite_products .product-layout .product-thumb .caption .price .price-old {
    color: #a6a6a6;
}

.favorite_page .favorite_products .product-layout .product-thumb .caption .price .price-new {
    color: #000;
}

/**favorite***/


/**brands***/
.brands_page {
    padding: 30px 0 30px 0;
}

.brands_page .title_brands {
    width: 100%;
    display: flex;
    justify-content: start;
}

.brands_page .title_brands h1 {
    font-size: 22px;
}

.brands_page .brands_list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 30px 0 30px 0;
}




/***product***/

#carousel-custom {
    margin: 20px auto;
    max-width: 400px;
    width: auto;
}

.product_title {
    font-size: 16px;
    color: #2c2c2c;
    text-transform: uppercase;
}

.price {
    font-weight: 500;
    color: #2c2c2c;
    margin-bottom: 30px;
}

.product_size {
    margin-bottom: 30px;
}

.product_size .size_guide {
    padding: 0px;
}

.product_size .size_guide:hover {
    cursor: pointer;
}

.product_size li {
    border-radius: 50px;
    background: #f2f6fa;
    text-align: center;
    margin: 0px 10px;
    width: 40px;
    padding: 8px 0px;
    text-transform: uppercase;
    font-weight: 600;
    color: #004ca1;
}

.product_color {
    margin-bottom: 30px;
}

.product_color li {
    border-radius: 50px;
    width: 25px;
    height: 25px;
    margin: 0px 10px;
}

.product_color li.active {
    border: 1px solid #000000;
}

.product_color li.active:after {
    border: 3px solid #ffff;
    content: '';
    border-radius: 50px;
    display: block;
    width: 23px;
    height: 23px;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.red {
    background: red;
}

.black {
    background: black;
}

.add_cart {
    margin-bottom: 30px;
}

.add_cart button {
    border-radius: 25px;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    border: 1px solid #000000;
    padding: 10px 28px;
    background: #fff;
}

.product_description .nav-tabs {
    border: none;
}

.product_description .nav-link {
    border: none;
}

.product_description .nav-link:hover {
    cursor: pointer;
}

.product_description .nav-link.active {
    border-bottom: 1px solid red !important;
    border-color: transparent;
}

.size_guide {
    float: right;
    font-size: 16px;
    font-weight: bold;
    color: #004ca1;
}

a.left.carousel-control {
    position: absolute;
    top: 50%;
    left: 0px;
    font-size: 40px;
    color: #000;
}

a.right.carousel-control {
    position: absolute;
    top: 50%;
    right: 0px;
    font-size: 40px;
    color: #000;
}



/***product***/


/***product***/